<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heidaner.dingdang"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.heidaner.dingdang.MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.heidaner.dingdang.me.MeActivity"></activity>
        <activity android:name="com.heidaner.dingdang.nearby.NearbyActivity"></activity>
        <activity android:name="com.heidaner.dingdang.plaza.PlazaActivity"></activity>
        <activity android:name="com.heidaner.dingdang.eyetoeye.EyeToEyeActivity"></activity>
        <activity android:name="com.heidaner.dingdang.HomeActivity"></activity>
        <activity android:name="com.heidaner.dingdang.ddlogin.DDLoginActivity"></activity>
        <activity android:name="com.heidaner.dingdang.BaseActivity"></activity>
          <activity android:name="com.heidaner.dingdang.SettingFragment"></activity>
    </application>

</manifest>